// || Basic styling
:root {
  font-family: 'Open Sans', sans-serif;
  --dark-color: #3f3f3f;
  --mid-color: #c0c0c0;
  --light-color: #f7f7f7;
  --accent-color: #ce60a9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

// || Reusable classes
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

.std-vertical-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page-heading {
  font-size: 2.5rem;
  color: var(--dark-color);
}

// || Specific classes
.main-nav-background {
  background-color: var(--dark-color);
  color: var(--light-color);

  .main-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 500px) {
      flex-direction: column;
      text-align: center;
      gap: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

    ul {
      padding: 0;
      display: flex;
      gap: 1.5em;
      list-style: none;

      a {
        font-weight: 600;
        text-decoration: none;
        color: white;

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }
}

.index-content {
  display: grid;
  grid-auto-rows: min-content;
  gap: 1.5rem;

  .index__message-link {
    text-decoration: none;
    color: var(--dark-color);
  }

  .index__message-user {
    font-size: 1.4rem;
    color: var(--dark-color);
  }

  .index__message-added {
    color: var(--dark-color);
    font-size: 0.95rem;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }

  .index__message-text {
    font-size: 1rem;
    font-weight: 300;
  }

  hr {
    border-color: var(--light-color);
  }
}

.message-content {
  .message-content__header {
    display: flex;
    justify-content: space-between;
  }

  .message-content__delete-button {
    background-color: transparent;
    border: none;
  }

  .message-content__added {
    color: var(--dark-color);
    font-size: 0.95rem;
    font-weight: 400;
    padding-bottom: 1rem;
  }

  .message-content__text {
    font-size: 1.2rem;
    font-weight: 300;
    max-width: 30em;
  }
}

.new-message-content {
  .new-message-content__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;

    .form-row {
      display: flex;
      flex-direction: column;
    }

    label {
      color: var(--dark-color);
    }

    input,
    textarea {
      width: 100%;
      padding: 0.5em;
      border: 1px solid var(--mid-color);
      border-radius: 5px;
      resize: vertical;
    }

    button {
      align-self: baseline;
      padding: 0.5em 1em;
      border: none;
      border-radius: 5px;
      background-color: var(--accent-color);
      color: white;
      font-size: 1.1rem;
      font-weight: 700;

      &:hover {
        filter: brightness(0.8);
      }

      &:active {
        filter: brightness(0.5);
      }
    }
  }
}

.error-text {
  color: var(--dark-color);
  font-style: italic;
}
