<div class="main-nav-background std-vertical-padding">
  <nav class="container main-nav-content">
    <h1 class="main-nav-content__logo">Mini Messageboard</h1>
    <ul>
      <li>
        <a href="/">Messages</a>
      </li>
      <li>
        <a href="/new">New Message</a>
      </li>
    </ul>
  </nav>
</div>