<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div class="container std-vertical-padding">
    <h2 class="page-heading">An error has occurred:</h2>
    <p class="error-text"><%= error %></p>
  </div>
</body>
</html>