<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div class="container">
    <h1>New Message</h1>
    <form action="new" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="user" required>
      <label for="message">Message:</label>
      <input type="text" id="message" name="text" required>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>