<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
  <%- include('partials/nav') %>
  <div class="container std-vertical-padding new-message-content">
    <h2 class="page-heading">New Message</h2>
    <form action="new" method="post" class="new-message-content__form">
      <div class="form-row">
        <label for="name">Name:</label>
        <input type="text" id="name" name="user" required>
      </div>
      <div class="form-row">
        <label for="message">Message:</label>
        <textarea id="message" name="text" required></textarea>
      </div>
      <div class="form-row">
        <button type="submit" aria-label="submit">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>